h3, h5 {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

h5 {
    margin-bottom: 40px;
}

img {
    width: 200px;
    height: 180px;
    border-radius: 50%;

}

.user-profile {
    padding: 20px;
    border: 1px solid bisque;
}
.user-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 40px;
}

.update-form {
    width: 50%;
    margin-left: 300px;

}

.update-form button {
    margin-top: 15px;
}

i {
    margin-right: 10px;
}

.post-success {
    background: rgb(175, 246, 246);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-left: 310px;
    margin-top: 20px;
}

@media (max-width: 998px) {

    .update-form {
        width: 90%;
        margin: auto;
    }


    .post-success {
        background: rgb(175, 246, 246);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-left: 20px;
        margin-top: 20px;
    }

    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-left: 20px;
    
    }
}