
body {
    background-color: rgb(175, 246, 246);
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}

.container img {
    align-self: center;
}

h1 {
    margin-left: 510px;
}