.post-container {
    width: 60%;
    margin-left: 200px;
    margin-top: 20px;
}
 .post-container a {
    width: auto;
    margin-top: 10px;
}

.content {
    margin-bottom: 20px;
    padding: 10px;
}
.post-success {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-left: 200px;
    margin-top: 20px;
}