.create-btn {
    display: flex;
    justify-content: center;
    color: black;
}

.create-btn a {
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.post-container {
    width: 60%;
    margin-left: 200px;
}

h2 {
    text-align: center;
}

h6 {
    text-align: center;
}

.view {
    width: auto;
    margin-top: 10px;
    background: rgb(241, 252, 252);
}

.post-success {
    background: rgb(175, 246, 246);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-left: 200px;
    margin-top: 20px;
}

.content {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
}

/* Post header img and date */
.header-info {
    display: flex;
}

.header-info img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
}

.header-info-post {
    display: flex;
    flex-direction: column;
}




@media (max-width: 998px) {
    .post-container {
        margin: auto;
        width: 90%;
    }

    .post-success {
        background: rgb(175, 246, 246);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin: auto;
        margin-top: 10px;
    }
}