h3 {
    text-align: center;
    margin-top: 20px;
}

.container {
    width: 50%;
    margin-bottom: 20px;
    background: rgb(175, 246, 246);
}

.container button {
    margin-top: 15px;
}

.post-success {
    background: rgb(175, 246, 246);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 340px;
    margin-top: 20px;
}

@media (max-width: 576px) {
    .container {
        margin: auto;
    }
}